<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页_Eric个人博客 - 一个趟在python大佬中的土老帽的博客网站</title>
    <meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青"/>
    <meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/blog/css/base.css" rel="stylesheet">
    <link href="/static/blog/css/index.css" rel="stylesheet">
    <link href="/static/blog/css/m.css" rel="stylesheet">
    <script src="/static/blog/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/blog/js/hc-sticky.js"></script>
    <script type="text/javascript" src="/static/blog/js/comm.js"></script>

</head>
<body>
<header class="header-navigation" id="header">
    <nav>
        <div class="logo"><a href="/">Eric个人博客</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="{{ url_for('blog.index',page=1) }}">网站首页</a></li>
            <li><a href="{{ url_for('blog.share') }}">我的相册</a></li>
            <li><a href="{{ url_for('blog.list',page=1) }}">我的日记</a></li>
            <li><a href="{{ url_for('blog.about') }}">关于我</a></li>
            <li><a href="{{ url_for('blog.gbook') }}">留言</a></li>

        </ul>
    </nav>
</header>
<article>
    <aside class="l_box">
        <div class="about_me">
            <h2>关于我</h2>
            <ul>
                <i><img src="{{ icon }}"></i>
                <p><b>{{ name }}</b>，{{ content }}</p>
            </ul>
        </div>
        <div class="wdxc">
            <h2>我的相册</h2>
            <ul>
                {% for photo in photos %}
                    <li><a href="{{url_for('blog.infopic')}}"><img src="{{ photo.location }}"></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="search">
            <form action="{{ url_for('blog.search') }}" method="get" name="searchform" id="searchform">
                <input name="keyboard" id="keyboard" class="input_text" placeholder="请输入关键字词" type="text">
                <input name="Submit" class="input_submit" value="搜索" type="submit">
            </form>
        </div>
        <div class="fenlei">
            <h2>文章分类</h2>
            <ul>
               {% for column in columns %}
                    <li class="article" a_id="{{ column.id }}">
                        {% if column.articles | length > 0 %}
                            <a href="{{ url_for('blog.article_list',id=column.id) }}">
                                {{ column.column_name }} ( {{ column.articles | length }} )
                            </a>
                        {% else %}
                            <a href="{{ url_for('blog.index',page=1) }}">
                                {{ column.column_name }} ( {{ column.articles | length }} )
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tuijian">
            <h2>站长推荐</h2>
            {#        <ul>#}
            {#            <li><a href="/">你是什么人便会遇上什么人</a></li>#}
            {#            <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>#}
            {#            <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>#}
            {#            <li><a href="/">个人博客模板《绅士》后台管理</a></li>#}
            {#            <li><a href="/">你是什么人便会遇上什么人</a></li>#}
            {#            <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>#}
            {#            <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>#}
            {#            <li><a href="/">个人博客模板《绅士》后台管理</a></li>#}
            {#        </ul>#}
        </div>
        <div class="links">
            <h2>友情链接</h2>
            <ul>
                <a href="https://blog.csdn.net/weixin_43676025">Eric的SCDN博客</a>
            </ul>
        </div>
        <div class="guanzhu">
            <h2>关注我 么么哒</h2>
            <ul>
                <img src="/static/blog/images/wx.jpg">
            </ul>
        </div>
    </aside>
    <main class="r_box">
        <div class="about">
            <p>杨青，女，一个80后草根女站长！09年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。我入行早，大家也亲切的叫我&ldquo;青姐&rdquo;。<br/>
                <br/>
                SEO奋斗了将近两年时间，个人博客网站百度排名也从之前的30页后，排到了第一页。期间有很多的不容易，但是都没有放弃过。入了这一行，就深深的喜欢上它。我喜欢一句话&ldquo;冥冥中该来则来，无处可逃&rdquo;。<br/>
                <br/>
                <img src="/static/blog/images/1.jpg">
                近几年我也发现个人博客排前几页的也有很多是我做过的模板，感谢各位站长的欣赏，我仔细看过他们的网站。他们在我原模板的基础上有修改，而且他们做的原创内容都是值得一读的。有时候甚至排名都超过了我个人博客网站的排名。<br/>
                <br/>
                现在很多人向我请教如何做好SEO，我想说的是，一是&ldquo;代码&rdquo;，一定要简单，布局要合理。二是&ldquo;内容&rdquo;，一定要有原创，伪原创也是可以的。三是&ldquo;持续&rdquo;，这是一个持续性过程，一定要有耐心，SEO不是马上生效的。<br/>
                <br/>
                自从入了这一行，也交到了不少朋友，QQ群也不断的壮大起来，280998807(交流群 <span style="color:#FF0000;">已满员</span>)&nbsp;
                280998843（技术群），群里的小伙伴们也很积极的帮助新朋友解决问题，如果你想加入我们，这个大家庭的门，永远给你敞开！另外微信群已于2018.4.13日开通（已满100，只接受群主邀请，可加我个人微信进群
                。我的个人微信号 yangqq_1987）</p>
            <br/>
            <br/>
            SEO奋斗了将近两年时间，个人博客网站百度排名也从之前的30页后，排到了第一页。期间有很多的不容易，但是都没有放弃过。入了这一行，就深深的喜欢上它。我喜欢一句话&ldquo;冥冥中该来则来，无处可逃&rdquo;。<br/>
            <br/>
            <img src="/static/blog/images/2.jpg">
            近几年我也发现个人博客排前几页的也有很多是我做过的模板，感谢各位站长的欣赏，我仔细看过他们的网站。他们在我原模板的基础上有修改，而且他们做的原创内容都是值得一读的。有时候甚至排名都超过了我个人博客网站的排名。<br/>
            <br/>
            现在很多人向我请教如何做好SEO，我想说的是，一是&ldquo;代码&rdquo;，一定要简单，布局要合理。二是&ldquo;内容&rdquo;，一定要有原创，伪原创也是可以的。三是&ldquo;持续&rdquo;，这是一个持续性过程，一定要有耐心，SEO不是马上生效的。<br/>
            <br/>
            自从入了这一行，也交到了不少朋友，QQ群也不断的壮大起来，280998807(交流群 <span style="color:#FF0000;">已满员</span>)&nbsp;
            280998843（技术群），群里的小伙伴们也很积极的帮助新朋友解决问题，如果你想加入我们，这个大家庭的门，永远给你敞开！另外微信群已于2018.4.13日开通（已满100，只接受群主邀请，可加我个人微信进群
            。我的个人微信号 yangqq_1987）</p>
            <br/>
            <h2>About my blog</h2>
            &nbsp;
            <p>域 名：www.yangqq.com 创建于2011年01月12日&nbsp;</p>
            <br/>
            <p>服务器：阿里云服务器&nbsp;&nbsp;<a
                    href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=8smrzoqa&amp;productCode=vm"
                    target="_blank"><span style="color:#FF0000;"><strong>前往阿里云官网购买&gt;&gt;</strong></span></a></p>
            <br/>
            <p>备案号：蜀ICP备11002373号-1</p>
            <br/>
            <p>程 序：PHP 帝国CMS7.5</p>

        </div>
    </main>
</article>
<footer>
    <p>Design by <a href="http://www.yangqq.com" target="_blank">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
